# Godot 3.6 specific ignores
.import/
export_presets.cfg

# Godot 4+ specific ignores
.godot/

# Godot Unit Test (GUT)
addons/gut/
tests/results/*
!tests/results/.gitkeep

# Upstream ignores
build/
todo.txt

# Staged commit message (git commit -F commit.txt)
commit.txt
